{
  "appSiteURL": "https://featmap.copyleft.dev",
  "dbConnectionString": "postgresql://FEATMAP_DB_USER:FEATMAP_DB_PASS@postgres:5432/FEATMAP_DB_NAME?sslmode=disable",
  "jwtSecret": "FEATMAP_JWT_SECRET",
  "port": "FEATMAP_HTTP_PORT",
  "emailFrom": "",
  "smtpServer": "",
  "smtpPort": "587",
  "smtpUser": "",
  "smtpPass": ""
}
